---
layout: default
---
<div class="titlearea"><h1>RBMH Open Source Projects</h1></div>
<div class="titlearea"><h2><span class="eventuate rbicons"><i class="fa fa-calendar fa"></i></span>Eventuate</h2></div>
<p>Eventuate is a toolkit for building distributed, highly-available and partition-tolerant event-sourced applications. It is written in Scala and built on top of <a href="http://akka.io/" target="_blank">Akka</a>, a toolkit for building highly concurrent, distributed, and resilient message-driven applications on the JVM. Eventuate also provides an implementation of operation-based <a href="http://en.wikipedia.org/wiki/Conflict-free_replicated_data_type" target="_blank">CRDT</a>s. Learn more in the <a href="http://rbmhtechnology.github.io/eventuate/" target="_blank">project documentation</a> and in the <a href="http://rbmhtechnology.github.io/eventuate/latest/api/index.html" target="_blank">API docs</a>.</p>
<p><a href="http://rbmhtechnology.github.io/eventuate" class="read-more" target="_blank">Documentation</a><br>
<a href="https://github.com/RBMHTechnology/eventuate" class="read-more" target="_blank">Source Code</a>
</p>
<hr/>
<div class="titlearea"><h1>RBMH Blog</h1></div>

<div class="posts">
    {% for post in site.posts limit:site.limitPostsOnHomePage %}
    <article class="post">

        {% assign author = site.data.authors.[post.author] %}
        {% if author.name != null %}
        {% if author.pic != null %}<div class="headerpic titlearea"><img src="{{ author.pic }}" alt="{{author.name}}" class="clip-circle"/>{% else %}<div class="titlearea">{% endif %}<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br/><div class="author">{{post.date | date: "%B %e, %Y"}} by <a rel="author" href="{{ site.baseurl }}/{{ author.link }}" title="{{ author.name }}" class="authorlist">{{ author.name }}</a></div></h2><div></div></div>
        {% else %}
        <div class="titlearea"><h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br/><div class="author">{{post.date | date: "%B %e, %Y"}} by {{ post.author }}</div></h2></div>
        {% endif %}
      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more...</a>
    </article>
  {% endfor %}

  <h3><a href="{{ site.baseurl }}/blog" class="read-more">MORE POSTS...</a></h3>

</div>