---
layout: default
---
<div class="titlearea"><h1>RBMH Open Source Projects</h1></div>
<div class="titlearea"><h2><span class="vind rbicons"><i class="fa fa-calendar fa"></i></span>VIND</h2></div>
<p>Vind (faɪnd) is a modular Java library which aims to lower the hurdle of integrating information discovery facilities in Java projects. It should help programmers to come to a good solution in an assessable amount of time, improve the maintainability of software projects, and simplify a centralized information discovery service management including monitoring and reporting.</p>
<p>
<a href="http://rbmhtechnology.github.io/vind" class="read-more" target="_blank">Documentation</a><br>
<a href="https://github.com/RBMHTechnology/vind" class="read-more" target="_blank">Source Code</a>
</p>

<div class="titlearea"><h2><span class="eventuate rbicons"><i class="fa fa-calendar fa"></i></span>EVENTUATE</h2></div>
<p>VIND is a toolkit for building distributed, highly-available and partition-tolerant event-sourced applications. It is written in <a href="http://www.scala-lang.org/" target="_blank">Scala</a> and built on top of <a href="http://akka.io/" target="_blank">Akka</a>, a toolkit for building highly concurrent, distributed, and resilient message-driven applications on the JVM.</p>
<p>
<a href="http://rbmhtechnology.github.io/eventuate/overview.html" class="read-more" target="_blank">Overview</a><br>
<a href="http://rbmhtechnology.github.io/eventuate" class="read-more" target="_blank">Documentation</a><br>
<a href="https://github.com/RBMHTechnology/eventuate" class="read-more" target="_blank">Source Code</a>
</p>
<hr/>
<div class="titlearea"><h1>RBMH Blog</h1></div>

<div class="posts">
    {% for post in site.posts limit:site.limitPostsOnHomePage %}
    <article class="post">

        {% assign author = site.data.authors.[post.author] %}
        {% if author.name != null %}
        {% if author.pic != null %}<div class="headerpic titlearea"><img src="{{ author.pic }}" alt="{{author.name}}" class="clip-circle"/>{% else %}<div class="titlearea">{% endif %}<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br/><div class="author">{{post.date | date: "%B %e, %Y"}} by <a rel="author" href="{{ site.baseurl }}/{{ author.link }}" title="{{ author.name }}" class="authorlist">{{ author.name }}</a></div></h2><div></div></div>
        {% else %}
        <div class="titlearea"><h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br/><div class="author">{{post.date | date: "%B %e, %Y"}} by {{ post.author }}</div></h2></div>
        {% endif %}
      <div class="entry">
        {{ post.content | truncatewords:40}}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more...</a>
    </article>
  {% endfor %}

  <h3><a href="{{ site.baseurl }}/blog" class="read-more">MORE POSTS...</a></h3>

</div>
