---
layout: default
---

{% assign post = page %}

<article class="post">
    {% assign author = site.data.authors.[post.author] %}
    {% if author.name != null %}
    {% if author.pic != null %}<div class="headerpic titlearea"><img src="{{ author.pic }}" alt="{{author.name}}" class="clip-circle"/>{% else %}<div class="titlearea">{% endif %}<h1>{{ post.title }}<br/><div class="author">{{post.date | date: "%B %e, %Y"}} by {% if author.link != null %}<a rel="author" href="{{ site.baseurl }}/{{ author.link }}" title="{{ author.name }}" class="authorlist">{% endif %}{{ author.name }}{% if author.link != null %}</a>{% endif %}</div></h1><div></div></div>
    {% else %}
    <div class="titlearea"><h1>{{ post.title }}<br/><div class="author">{{post.date | date: "%B %e, %Y"}} by {{ post.author }}</div></h1></div>
    {% endif %}
    <div class="entry"><br>
    {{ content }}
        {% if post.tags.size > 0 %}
        {% capture tags_content %} with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
        {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
        {% if data_tag.slug == post_tag %}
        {% assign tag = data_tag %}
        {% endif %}
        {% endfor %}
        {% if tag %}
        {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
        {% endif %}
        {% endfor %}
        {% else %}
        {% assign tags_content = '' %}
        {% endif %}
  </div>


  <div class="date">
    {% if author.name != null %}
    Written on {{ page.date | date: "%B %e, %Y" }} by {% if author.link != null %}<a rel="author" href="{{ site.baseurl }}/{{ author.link }}" title="{{ author.name }}" class="authorlist">{% endif %}{{ author.name }}{% if author.link != null %}</a>{% endif %}
    {% else %}
    Written on {{ page.date | date: "%B %e, %Y" }} by {{ post.author }}
    {% endif%}
  </div>
  <div><p id="post-meta">{{ tags_content }}</p></div>
</article>
<div class="back"><a href="javascript:history.back(-1)">< back</a></div>
